[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
scons = ">=3.0.1"
sphinx = ">=1.7.4"
twine = "*"

[requires]
python = "3.6"
